html {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2049%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2050%26quot%3b)'%3e%3c/rect%3e%3cpath d='M992.302%2c402.744C1039.518%2c403.044%2c1092.429%2c392.856%2c1113.81%2c350.757C1134.104%2c310.797%2c1103.868%2c267.91%2c1080.066%2c229.935C1058.402%2c195.372%2c1033.086%2c157.636%2c992.302%2c156.901C950.654%2c156.151%2c920.785%2c191.237%2c898.886%2c226.671C875.375%2c264.713%2c852.476%2c309.728%2c873.436%2c349.233C895.263%2c390.373%2c945.731%2c402.449%2c992.302%2c402.744' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M541.313%2c361.084C559.377%2c361.164%2c569.826%2c342.134%2c577.521%2c325.791C583.896%2c312.252%2c584.954%2c296.968%2c577.653%2c283.905C570.166%2c270.51%2c556.622%2c262.065%2c541.313%2c261.01C523.745%2c259.8%2c503.649%2c262.81%2c495.125%2c278.22C486.753%2c293.355%2c497.235%2c310.365%2c505.656%2c325.473C514.422%2c341.199%2c523.309%2c361.004%2c541.313%2c361.084' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M856.597%2c363.052C909.877%2c363.241%2c959.841%2c336.082%2c986.627%2c290.025C1013.559%2c243.718%2c1015.772%2c184.799%2c986.273%2c140.084C959.127%2c98.935%2c905.846%2c90.757%2c856.597%2c92.922C811.833%2c94.89%2c769.814%2c113.189%2c745.271%2c150.677C717.976%2c192.369%2c705.024%2c244.97%2c728.16%2c289.106C752.743%2c336.001%2c803.649%2c362.864%2c856.597%2c363.052' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M315.933%2c307.756C366.338%2c306.862%2c405.438%2c268.612%2c429.876%2c224.518C453.449%2c181.985%2c460.975%2c131.136%2c437.389%2c88.61C413.138%2c44.884%2c365.931%2c19.602%2c315.933%2c19.073C264.969%2c18.534%2c215.45%2c41.868%2c189.943%2c85.993C164.415%2c130.156%2c169.567%2c184.337%2c194.765%2c228.689C220.298%2c273.632%2c264.251%2c308.673%2c315.933%2c307.756' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M174.672%2c529.391C202.365%2c529.816%2c232.975%2c527.626%2c248.055%2c504.395C264.165%2c479.577%2c260.581%2c446.556%2c244.611%2c421.648C229.803%2c398.554%2c202.103%2c389.549%2c174.672%2c389.946C148.037%2c390.331%2c122.184%2c400.979%2c108.15%2c423.62C93.348%2c447.5%2c90.135%2c478.417%2c105.093%2c502.199C119.302%2c524.791%2c147.986%2c528.981%2c174.672%2c529.391' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1253.024%2c22.245C1271.205%2c23.043%2c1290.059%2c17.95%2c1300.094%2c2.768C1311.132%2c-13.933%2c1313.462%2c-36.199%2c1302.888%2c-53.197C1292.77%2c-69.462%2c1272.174%2c-73.355%2c1253.024%2c-72.9C1234.84%2c-72.468%2c1216.02%2c-66.774%2c1207.1%2c-50.922C1198.313%2c-35.307%2c1203.081%2c-16.249%2c1212.606%2c-1.073C1221.469%2c13.047%2c1236.369%2c21.514%2c1253.024%2c22.245' fill='rgba(176%2c 211%2c 81%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2049'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2050'%3e%3cstop stop-color='rgba(71%2c 14%2c 64%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(225%2c 146%2c 235%2c 0.58)' offset='0.32'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
background-size: cover;
background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

section {
  border: 2px solid grey;
  border-radius: 15px;
  min-width: 300px;
  margin: 5px;
  padding: 15px;
}

section ul {
  text-indent: 75px;
  list-style-position: inside;
}

p {
  margin: 5px 0;
}

img {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 2px solid lightblue;
  border-radius: 5px;
}

img:hover {
	-webkit-animation: jello-horizontal 1.2s ease-in-out 2 both;
	        animation: jello-horizontal 1.2s ease-in-out 2 both;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  margin: 20px 0;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-14 10:47:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

/* ----------------------- MEDIA QUERIES -------------------------- */

@media screen and (max-width: 768px) {
  img {
    position: unset;
    display: block;
    margin: auto;
  }
}
